* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 60px;
  color: white;
  background: #1abc9c;
}

.logo img {
  width: auto;
  height: 200px;
}

.logo img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.logotext {
  padding-top: 100px;
}

.logotext p {
  text-align: center;
  font-style: italic;
}

.nav-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: #333;
}

.nav-container > div {
  align-self: flex-start;
  padding: 14px 20px;
  /*padding: 14px 20px;*/
}

.nav-container a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  background: linear-gradient(white 0 0) var(--p, 0) / var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
}

.nav-container a:hover {
  --p: 100%;
  color: #333;

  /*background-color: white;*/
}
.main-content-container {
  display: flex;
  flex-flow: row wrap;
}
.play {
  display: flex;
  justify-content: center;
  flex: 70%;
  padding: 0px 0px;
}

/*.magic8img {
  background-image: url("../img/ball.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 3s;
}

.magic8img img {
  visibility: hidden;
}
.magic8img p {
  font-size: 16px;
  align-items: center;
}

.magic8img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}*/

.magic8ball > p {
  text-align: center;
  font-size: 60px;
}

.play form * {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

.play input {
  width: 100%;
}

.play button {
  width: 100%;
  border: 2px solid #1abc9c;
  background-color: white;
  border-radius: 20px;
}

.play button:hover {
  border: 2px solid black;
  background-color: #1abc9c;
  color: white;
}

.box-8ballimage {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  text-align: center;
  word-break: break-word;
  background-image: url("../img/ball-back.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 3s;
}

.box-8ballimage img {
  transition: opacity 0.5s linear;
}

.box-text {
  position: absolute;
  max-width: 200px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0;
}

.box-flex-center {
  align-items: center;
}

.shop {
  flex: 30%;
  background-color: rgb(222, 219, 219);
  padding: 20px;
}
.shopitems-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-between;
}

.shopitems-container > div {
  flex: 25%;
  padding: 10px;
  margin: 10px;
  background: #1abc9c30;
  border-radius: 25px;
  height: 500px;
}

.shopitems-container img {
  width: auto;
  height: 300px;
  padding: 10px;
  border-radius: 25px;
}

.shopitems-container h3,
h6,
p {
  padding: 0px 10px 0px 10px;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.contact-container {
  color: white;
  flex: 100%;
  text-align: center;
  background: #333;
  padding: 25px;
}

.contact-container form * {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

.contact-container input {
  width: 200px;
}

.contact-container textarea {
  width: 30%;
}

.contact-container button {
  height: 50px;
  width: 300px;
  background: #1abc9c;
  font-weight: bold;
  color: white;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: 3;
}

.fadeout {
  animation: fadeout 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fadein {
  animation: fadein 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .nav-container,
  .row,
  .shopitems-container {
    flex-direction: column;
  }
  .play,
  .shop {
    flex: 100%;
  }
  .shopitems-container {
    align-items: flex-start;
    justify-content: start;
  }
  .shopitems-container > div {
    flex: 100%;
    width: 400px;
  }
  .shopitems-container img {
    width: auto;
  }
  .contact-container textarea {
    width: 70%;
  }
}
